APP_NAME="Boca-lendar"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:2017
SERVER_PORT=2017

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=55432
DB_DATABASE=boca
DB_USERNAME=boca
DB_PASSWORD=boca

SESSION_DRIVER=database
SESSION_ENCRYPT=true
QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=120
CACHE_STORE=database
LOG_CHANNEL=single
LOG_LEVEL=warning
MAIL_MAILER=log

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:2017/calendar/google/callback
